# Environment Variables (Keep private!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node modules & dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel deployment folder
.vercel/

# OS metadata & editor files
.DS_Store
Thumbs.db
*.swp
*.tmp
.vscode/
.idea/
